.account-summary {
  --accsum-color: var(--color-primary);
  --accsum-border-radius: var(--border-radius);
  --accsum-spacing: var(--component-spacing-inner);
  --accsum-links-color: var(--color-primary);
}

.account-summary--secondary {
  --accsum-color: var(--color-secondary);
  --accsum-links-color: var(--color-secondary);
}

.account-summary {
  padding: var(--accsum-spacing);
  display: flex;
  width: 300px;
  flex-direction: row;
  font-size: 0.95rem;
}

.account-summary__image {
  width: 7em;
  height: 7em;
  border-radius: var(--accsum-border-radius);
  overflow: hidden;

  & img {
    filter: chroma(1);
  }
}

.account-summary__profile {
  margin-left: var(--accsum-spacing);
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > h2 {
    color: var(--accsum-color);
  }

  & > a {
    color: var(--accsum-links-color);
    display: flex;
    align-items: center;
  }

  & > * {
    flex-grow: 1;
  }
}

@media (--md-viewport) {
  .account-summary {
    font-size: 1rem;
  }
}
