<footer class="footer">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 content footer__content">
                <h2>Products</h2>
                <ul class="footer__links">
                    <li><a href="">All products</a></li>
                    <li><a href="">Category 1</a></li>
                    <li><a href="">Category 2</a></li>
                    <li><a href="">Category 3</a></li>
                    <li><a href="">Category 4</a></li>
                </ul>
            </div>
            <div class="col-lg-4 content footer__content">
                <h2>General</h2>
                <ul class="footer__links">
                    <li><a href="/about/">About FD Demo</a></li>
                    <li><a href="/shipping/">Delivery</a></li>
                    <li><a href="/returns/">Returns</a></li>
                    <li><a href="/help/">Help</a></li>
                </ul>
            </div>
            <div class="col-lg-4 content footer__content">
                <h2>Social</h2>
                <ul class="footer__social">
                    <li><a href="https://www.twitter.com/fractalduk">{{ 'twitter' | icon }}</a></li>
                    <li><a href="https://www.facebook.com/fractaldimensionsuk">{{ 'facebook' | icon }}</a></li>
                    <li><a href="https://www.instagram.com/fractaldimensionsuk">{{ 'instagram' | icon }}</a></li>
                    <li><a href="https://www.linkedin.com/company/fractal-dimenions">{{ 'linkedin' | icon }}</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 footer__copyright">
                <p>&copy; 2021 Fractal Dimensions Ltd.</p>
            </div>
        </div>
    </div>
</footer>
