{% extends "@base" %}

{% block head %}
<script src="/dist/js/init.js"></script>
{% endblock %}

{% block main %}
    <div style="padding: 20px;" data-comp="{{ _target.baseHandle }}">
        {{ yield | safe }}
    </div>
{% endblock %}

