<div class="hero">
    <div class="container px-4 overflow-hidden">
        <div class="row hero__row gx-5 gy-5">
            <div class="col-12 col-lg-5 col-xlg-5">
                <div class="image__svg">
                    <svg height="100%" width="100%" overflow="visible" viewBox="0 0 588 580" class="image__svg-shadow">
                        <g transform="translate(3, 6)">
                            <path class="image__svg-shadow-2" fill="black" stroke-width="5"
                                  d="M565 189c34-23 28-144-19-125l-27 10c-3-31-16-58-39-54-5-8-11-13-19-11-30 6-59 16-89 24-5-18-13-36-28-32-39 10-77 24-111 46-16 10-22 32-23 52l-33 21c-53 24-104 52-150 87-25 19-29 54-27 84 1 13 4 36 14 51-6 20-6 45-3 61 2 15 12 59 36 55l55-11c2 16 11 54 31 61 5 24 16 49 40 52 37 6 73 1 109-8 10 20 24 36 44 23l69-48 35-23 47-18c13-5 22-27 25-38 3-13 5-26 5-39 9-9 15-25 17-32 3-14 5-27 5-41l20-8c28-11 30-64 29-88-1-12-4-35-13-51z"/>
                        </g>
                    </svg>
                    <div class="image__svg-inner">
                        <img src="/images/purple-jellyfish.jpg" alt="A responsive placeholder image">
                    </div>
                </div>
                <svg width="0" height="0" viewBox="0 0 588 580">
                    <defs>
                        <clipPath id="mask" clipPathUnits="objectBoundingBox" transform="scale(0.001700 0.001724)">
                            <path d="M565 189c34-23 28-144-19-125l-27 10c-3-31-16-58-39-54-5-8-11-13-19-11-30 6-59 16-89 24-5-18-13-36-28-32-39 10-77 24-111 46-16 10-22 32-23 52l-33 21c-53 24-104 52-150 87-25 19-29 54-27 84 1 13 4 36 14 51-6 20-6 45-3 61 2 15 12 59 36 55l55-11c2 16 11 54 31 61 5 24 16 49 40 52 37 6 73 1 109-8 10 20 24 36 44 23l69-48 35-23 47-18c13-5 22-27 25-38 3-13 5-26 5-39 9-9 15-25 17-32 3-14 5-27 5-41l20-8c28-11 30-64 29-88-1-12-4-35-13-51z"/>
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="col-12 col-lg-7 col-xlg-7 hero__content-col">
                <div class="hero__content content">
                    <div class="hero__heading"><h1>This is a <strong>Hero</strong> block</h1></div>
                    <p>It's time to buy our amazing product!</p>
                    <div class="buttons">
                        {% render "@button", {text: 'Get in touch'} %}
                        {% render "@button--secondary", {text: 'Find out more'} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
