.header {
  --comp-width: var(--container-width);
  --header-padding: var(--spacing);
  --header-spacing: var(--component-spacing-inner);
}

.header {
  box-sizing: border-box;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  z-index: 900;
  background: transparent;
  background-size: 20px 20px;
}

.header__container {
  display: flex;
  width: 100%;
  padding-top: var(--header-padding);
  padding-bottom: var(--header-padding);

  & > *:not(:first-child) {
    margin-left: var(--header-spacing);
  }

  & .button {
    height: 3.33rem;
  }
}


.header__content {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  justify-content: flex-end;

  & > *:not(:first-child) {
    margin-left: var(--header-spacing);
  }

  & .header__nav, & .header__social, & .header__action, & .header__account, & .header__search-button, & .header__nav-button {
    transition: all 0.4s ease-in;
  }

  & .header__search-container {
    transition: opacity 0.4s ease-in;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }

  &.header__content--search {
    & .header__nav, & .header__social, & .header__action, & .header__account, & .header__search-button, & .header__nav-button {
      transition: all 0.4s ease-out;
      transform: rotateX(-75deg);
      transform-origin: bottom;
      opacity: 0;
    }

    & .header__search-container {
      transition: opacity 0.4s ease-in;
      pointer-events: all;
      opacity: 1;
      visibility: visible;
    }
  }
}

.header__search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding-left: var(--component-spacing);

  & .search {
    flex-grow: 1;
  }
}

.header__nav {
  display: none;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-image {
  max-width: 120px;
  flex-grow: 1;
  background-color: var(--color-primary-comp);
  border-radius: calc(var(--border-radius) * 1.5);
  padding: var(--spacing-inner) calc(var(--spacing-inner) * 1.5);
  box-shadow: var(--shadow);

  & svg {
    max-height: 30px;
  }
}

.header__action, .header__account, .header__nav-button {
  display: flex;
  align-items: center;

  & .button {
    --comp-padding: 1rem 1.5rem;
  }
}

.header__account, .header__action, .header__search {
  display: none;
}

.header__search {
  margin-left: 2rem;

  & .button {
    --comp-padding: 1rem 1.5rem;
  }
}

.header__buttons {
  display: flex;
}

.header__menu-open {
  transition: all 0.3s ease-in;
  background: var(--body-bg);
  height: var(--vertical-height);
  box-sizing: border-box;
  overflow: scroll;

  & .header__container {
    display: grid;
    grid-template-areas: "logo nav"
                        "content content";
    grid-gap: var(--header-spacing);
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
  }

  & .header__logo {
    grid-area: logo;
  }

  & .header__content {
    grid-area: content;
    margin: 0;
    flex-direction: column-reverse;

    & > * {
      margin: 0;
    }
  }

  & .header__nav {
    display: block;
    margin-bottom: var(--spacing);
    width: 100%;
  }

  & .header__search-container {
    padding: 0;
    margin: 0;
    display: block;
    visibility: visible;
    opacity: 1;
    position: relative;
    pointer-events: all;
    width: 100%;
  }

  & .header__nav-button {
    grid-area: nav;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  & .button__content {
    justify-content: flex-start;
  }

  & .header__action, & .header__account {
    display: block;
    width: 100%;
    & .button {
      width: 100%;
    }
  }

  & .search__cancel {
    display: none;
  }

  & .header__content {
    & > * {
      margin-top: var(--header-spacing);
    }
  }
}

@media (--md-viewport) {
  .header__logo-image {
    max-width: 160px;

    & svg {
      max-height: 40px;
    }
  }
}

@media (--lg-viewport) {
  .header__search {
    display: flex;
  }
}

@media (--xlg-viewport) {
  .header__logo-image {
    max-width: 160px;

    & svg {
      max-height: 50px;
    }
  }

  .header__nav-button {
    display: none;
  }

  .header__account, .header__action {
    display: flex;

    & .button__text {
      display: none;
    }

    & .button__content > svg {
      margin-left: 0;
    }
  }

  .header__nav {
    display: block;
  }
}

@media (--xxlg-viewport) {
  .header__logo-image {
    max-width: 200px;

    & svg {
      max-height: 50px;
    }
  }
}
