.image {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.image__frame {
  & > picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.image--fullwidth {
  width: 100%;
}

.image--16-9 {
  aspect-ratio: 16 / 9;
}

.image--4-3 {
  aspect-ratio: 4 / 3;
}

.image__svg-inner {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.image__svg {
  box-sizing: border-box;
  position: relative;
  padding-bottom: 100%;
  max-width: 100%;
  display: flex;

  & img {
    clip-path: url(#mask);
    object-fit: cover;
    width: 100%;
  }
}

.image__svg-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  filter: blur(5px);
}
