{% from "@base-image" import image %}
<div class="image__frame {{ class }}">
    {{ image(source, sourceSet, alt, imageClass) }}
    {%- if caption %}
        <div class="image__caption"></div>
    {% endif -%}
</div>
