{% extends "@section-base" %}

{% block section_classes -%}
    section--secondary
{%- endblock %}

{% block section_header %}
    <h1>This is a <strong>Section</strong> title</h1>
{% endblock %}

{% block section_content %}
    <div class="row g-5 ">
        {% for i in [1, 2, 3] %}
            <div class="col-12 col-md-6 col-xl-4">
                {% render "@image-card" %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
