{% from "@base-button" import button %}
{% call button(null, 'button--secondary ' + class, attrs) -%}
    {% if icon %}
        {% if text %}<span class="button__text">{{ text }}</span>{% endif %}
        {{ icon | icon }}
    {% else -%}
        {{ text }}
    {%- endif %}
{%- endcall %}
