{% from "@base-button" import button %}
{%- call button(url, class, attrs) -%}
   {% if icon %}
      <span class="button__text">{{ text }}</span>
      {{ icon | icon }}
   {% else -%}
      {{ text }}
   {%- endif %}
{%- endcall -%}
