<section class="section content {% block section_classes %}{% endblock %}">
    <header class="section__header container">
        {% block section_header %}
        {% endblock %}
    </header>
    <div class="container">
        {% block section_content %}
        {% endblock %}
    </div>
</section>
