<section class="section content {% block section_classes %}{% endblock %}">
    {%- block section_header %}
        <header class="section__header container">
            {% block section_header_content %}
            {% endblock %}
        </header>
    {% endblock -%}
    <div class="container">
        {%- block section_content %}
        {% endblock -%}
    </div>
</section>
