{% macro image(src, srcset, alt, class = null) -%}
<picture>
    <img src="{{ src }}"
         {%- if srcset %} srcset="{{ srcset }}" {% endif -%}
         class="image{%- if class %} {{ class }}{% endif %}"
         {%- if alt %} alt="{{ alt }}" {% endif -%}
    />
</picture>
{%- endmacro %}
