{% macro button(url, class, attrs) -%}
<{% if url %}a href="{{ url }}"{% else %}button type="button"{% endif %} {{ attrs | attrib }}
        {%- for name, value in attrs -%}
            {{ name }}="{{ value }}"
        {%- endfor -%}
        class="button
    {%- if class %} {{ class }}{%- endif -%}">
    <span class="button__content">{{ caller() }}</span>
</{% if url %}a{% else %}button{% endif %}>
{%- endmacro %}
