<{{ type }} class="drop-menu drop-menu--sm-inline color--primary {{ class }}">
    {% render '@button', { text: text, icon: 'fi-rr-caret-down', class: 'drop-menu__link ', attrs: {'aria-expanded': 'false', 'aria-haspopup': 'true' } } %}
    <ul class="drop-menu__sub">
        {% for item in items -%}
            <li class="drop-menu__sub-item"><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% endfor -%}
    </ul>
</{{ type }}>
