<{{ type }} class="drop-menu color--primary">
    <a href="{{ url }}" aria-haspopup="true" aria-expanded="false" class="drop-menu__link">
        <span class="drop-menu__link-text">{{ text }}</span>
        {{ 'fi-rr-caret-down' | icon }}
    </a>
    <ul class="drop-menu__sub">
        {% for item in items -%}
            <li class="drop-menu__sub-item"><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% endfor -%}
    </ul>
</{{ type }}>
