.drop-menu {
  --drop-menu-sub-bg: var(--color-primary-comp);
  --drop-menu-sub-border: var(--border);
  --drop-menu-sub-color: var(--color-primary);
  --drop-menu-sub-radius: var(--border-radius);
}

.drop-menu--secondary {
  --drop-menu-sub-bg: var(--color-secondary-comp);
  --drop-menu-sub-color: var(--color-secondary);
}

.drop-menu {
  position: relative;
  font-size: 1.2em;
}

.drop-menu__link {
  text-decoration: none;
}

.drop-menu__sub {
  display: none;
  position: absolute;
  list-style: none;
  margin: var(--spacing-inner) 0 0;
  padding: 0;
  box-shadow: var(--shadow);
  background-color: var(--drop-menu-sub-bg);
  border: var(--drop-menu-sub-border);
  border-radius: var(--drop-menu-sub-radius);
  overflow: hidden;
  min-width: 15rem;
  z-index: 900;
}

.drop-menu--align-right {
  & .drop-menu__sub {
    right: 0;
  }
}

.drop-menu__sub-item {
  margin: 0;
  padding: 0;

  & > a {
    display: block;
    padding: var(--spacing-inner);
    color: var(--drop-menu-sub-color);
    text-decoration: none;
    transition: all 0.3s linear;

    &:hover {
      color: var(--drop-menu-sub-bg);
      background-color: var(--drop-menu-sub-color);
    }
  }
}

.drop-menu--sm-inline {
  & .drop-menu__sub {
    position: relative;
  }
}

.drop-menu--open {
  & .drop-menu__sub {
    display: block;
  }
}

@media (min-width: 768px) {
  .drop-menu {
    & .drop-menu__sub {
      position: absolute;
      z-index: 500;
    }
  }
}
